:root {
    --header-height: calc(7.5vh + 2.8rem);
    --half-header-height: calc(var(--header-height) / 2);
}

header {
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    background-color: #A4895C;
}

#header-logo {
    width: var(--header-height);
    height: var(--header-height);
    padding: 0 4% 0 2%;
}

#header-logo a img {
    height: 100%;
}

#header-tools {
    flex-grow: 1;
}

#user-tools-bar {
    height: 7.5vh;
    display: flex;
    justify-content: flex-end;
}

.header-search-box {
    height: 50%;
    padding: 1%;
}

.user-tool-bar-item {
    width: var(--half-header-height);
    height: var(--half-header-height);
}

.user-tool-bar-item>a {
    height: 100%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-tool-bar-item>a>img {
    height: 70%;
    padding: 1%;
}

#navigation-bar {
    display: flex;
}

#navigation-bar a {
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 5%;
    color: white;
    font-size: 1.5rem;
}

#navigation-bar a:hover {
    color: #594F40;
    background-color: #D4BD98;
}