.shop-profile-inputs {
    width: fit-content;
}

.shop-profile-icon {
    width: 15vw;
    margin-left: 5vw;
}

.shop-profile-icon img {
    width: 15vw;
    height: 15vw;
    border: 1px solid black;
    border-radius: 10vw;
}

.account-profile-info input[type=file] + label::before {
    content: "修改";
    font-size: 1.2rem;
    margin: 0 1.2rem;
    padding: 0.3rem 1rem;
    border-radius: 1.5rem;
    background-color: #ECECEC;
    cursor: pointer;
}