.staff-order-infos {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.staff-order-label {
    font-size: 1.2rem;
    color: #4D4D4D;
}

.staff-order-infos-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.5rem;
}

.staff-order-state-list {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.staff-order-state-label {
    width: 9rem;
    height: 2.5rem;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    background-color: #E1E3E3;
    border: 0;
    border-radius: 1.25rem;
}

.staff-order-state-label-choosed {
    width: 9rem;
    height: 2.5rem;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    background-color: #B89354;
    color: white;
    border: 0;
    border-radius: 1.25rem;
}

.staff-order-infos-state {
    color: #4D4D4D;
}

.staff-order-info-container {
    font-size: 1.2rem;
    margin-top: 0.8rem;
}

.staff-order-info-box {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    padding: 0.5rem 1.2rem;
    border: 2px dashed #E1E3E3;
}

.staff-order-recive-infos {
    line-height: 2.1rem;
}

.staff-order-shop-info {
    display: flex;
    line-height: 2.5rem;
    align-items: center;
}

.staff-order-shop-info img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
    border-radius: 50%;
}

.staff-order-product-table {
    margin-top: 0.7rem;
}

.staff-order-product-table td {
    padding: 0.3rem 0.5rem;
}

.staff-order-calculate-table {
    margin-top: 0.7rem;
}

.staff-order-calculate-table td {
    padding: 0.3rem 0.5rem;
}

.staff-order-other-info {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem 0;
}