.sign-page-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.sign-page-input {
    font-size: 1.2rem;
}

.sign-page-input input {
    width: 30vw;
    height: 3rem;
    margin: 0.3rem 0;
    padding: 0 1rem;
    border: none;
    border-radius: 1.5rem;
    outline: none;
    background-color: #E1E3E3;
    font-size: 1.5rem;
}